:root{
	--family-default: arial, "Microsoft JhengHei", sans-serif;
	--family-noto: "Noto Sans", sans-serif;
	--body-font-family: var(--family-default);
	--body-color: #1b1b1b;
	--body-bg: #F0F2F5;
	--body-bg-rgb: 240,242,245;
	--body-min-width: 320px;
	--body-min-height: 100%;
	--body-scroll-bg: hsl(0,0%,67%);
	--body-scroll-width: 16px;
	--body-scroll-height: 16px;
	--body-scroll-bd-set: 4px solid transparent;
	--body-scroll-bd-radius: 8px;
	--reset-scroll-bg: hsl(0,0%,67%);
	--reset-scroll-width: 16px;
	--reset-scroll-height: 16px;
	--reset-scroll-bd-set: 4px solid transparent;
	--reset-scroll-bd-radius: 8px;
	--navbar-height: 60px;
	--navbar-color: #fff;
	--navbar-hover-color: #ffe;
	--navbar-bg: #29547e;
	--navbar-bg-rgb: 41,84,126;
	--card-min-height: 180px;
	--empty-base64-image-url: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
	--topBox-zIndex: 1000;
	--viewerBox-zIndex: 1000;
}

body::-webkit-scrollbar {
	width: var(--body-scroll-width);
	height: var(--body-scroll-height);
}
body::-webkit-scrollbar-thumb {
	border-radius: var(--body-scroll-bd-radius);
	border: var(--body-scroll-bd-set);
	background-clip: content-box;
	background-color: var(--body-scroll-bg);
}

.reset-scrollbar::-webkit-scrollbar {
	width: var(--reset-scroll-width);
	height: var(--reset-scroll-height);
}
.reset-scrollbar::-webkit-scrollbar-thumb {
	border-radius: var(--reset-scroll-bd-radius);
	border: var(--reset-scroll-bd-set);
	background-clip: content-box;
	background-color: transparent;
}
.reset-scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: var(--reset-scroll-bg);
}

html, body {
	margin: 0;
	padding: 0;
	min-width: var(--body-min-width);
	min-height: var(--body-min-height);
}
html.unselectable * {
	-webkit-user-select: none;
}
body {
	font-family: var(--body-font-family);
	color: var(--body-color);
	background-color: var(--body-bg);
}
iframe {
	vertical-align: middle;
}

.opacity-hover-100:hover {opacity: 1!important;}
.opacity-hover-75:hover {opacity: 0.75!important;}
.opacity-hover-50:hover {opacity: 0.5!important;}
.opacity-hover-25:hover {opacity: 0.25!important;}
.opacity-hover-0:hover {opacity: 0!important;}

.clearboth:before,
.clearboth:after {
	display: block;
	content: '';
}
.clearboth:after {
	clear: both;
}

.loader {
	z-index: 65536;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.loader:before {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(var(--body-bg-rgb),1);
	-webkit-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
html[inited="1"] .loader:before {
	background-color: rgba(0,0,0,.825);
}
.loader>div {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10em;
	height: 10em;
	margin-top: -5em;
	margin-left: -5em;
	font-size: 25px;
	background-color: rgba(255,255,255,.625);
	box-sizing: border-box;
	border-top: 0.3em solid hotpink;
	border-radius: 50%;
	animation: rotating 2s ease-in-out infinite;
	--direction: 1;
}
.loader>div::before,
.loader>div::after {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	box-sizing: border-box;
	top: -0.2em;
}
.loader>div::before {
	border-top: 0.3em solid dodgerblue;
	transform: rotate(120deg);
}
.loader>div::after {
	border-top: 0.3em solid gold;
	transform: rotate(240deg);
}
.loader span {
	position: absolute;
	color: white;
	width: inherit;
	height: inherit;
	text-align: center;
	line-height: 10em;
	font-family: sans-serif;
	text-shadow: 1px 0px 1px rgba(0,0,0,1), 0px 1px 1px rgba(0,0,0,1), -1px 0px 1px rgba(0,0,0,1), 0px -1px 1px rgba(0,0,0,1);
	animation: rotating 2s linear infinite;
	--direction: -1;
}

.divider {
	display: block;
}

.img-favicon {
	border-radius: 4px;
}

.lh-1rem {
	line-height: 1rem!important;
}

.container-exl {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-right: auto;
	margin-left: auto;
}

.navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.navbar-expand .navbar-nav {
	flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
	position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: var(--bs-navbar-nav-link-padding-x);
	padding-left: var(--bs-navbar-nav-link-padding-x);
}

.navbar-expand .navbar-nav-scroll {
	overflow: visible;
}

.navbar-expand .navbar-collapse {
	display: flex !important;
	flex-basis: auto;
}

.navbar-expand .navbar-toggler {
	display: none;
}

.navbar-expand .offcanvas {
	position: static;
	z-index: auto;
	flex-grow: 1;
	width: auto !important;
	height: auto !important;
	visibility: visible !important;
	background-color: transparent !important;
	border: 0 !important;
	transform: none !important;
	transition: none;
}

.navbar-expand .offcanvas .offcanvas-header {
	display: none;
}

.navbar-expand .offcanvas .offcanvas-body {
	display: flex;
	flex-grow: 0;
	padding: 0;
	overflow-y: visible;
}

.navbar-dark {
	--bs-navbar-color: rgba(255,255,255,0.55);
	--bs-navbar-hover-color: rgba(255,255,255,0.75);
	--bs-navbar-disabled-color: rgba(255,255,255,0.25);
	--bs-navbar-active-color: #fff;
	--bs-navbar-brand-color: #fff;
	--bs-navbar-brand-hover-color: #fff;
	--bs-navbar-toggler-border-color: rgba(255,255,255,0.1);
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

[data-bs-theme="dark"] .navbar-toggler-icon {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.dropdown-menu {
	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: .5rem;
	--bs-dropdown-spacer: .125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: var(--bs-body-color);
	--bs-dropdown-bg: var(--bs-body-bg);
	--bs-dropdown-border-color: var(--bs-border-color-translucent);
	--bs-dropdown-border-radius: var(--bs-border-radius);
	--bs-dropdown-border-width: var(--bs-border-width);
	--bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
	--bs-dropdown-divider-bg: var(--bs-border-color-translucent);
	--bs-dropdown-divider-margin-y: .5rem;
	--bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
	--bs-dropdown-link-color: var(--bs-body-color);
	--bs-dropdown-link-hover-color: var(--bs-body-color);
	--bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: #0d6efd;
	--bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: .25rem;
	--bs-dropdown-header-color: #6c757d;
	--bs-dropdown-header-padding-x: 1rem;
	--bs-dropdown-header-padding-y: .5rem;
}

.dropdown-item:hover,.dropdown-item:focus {
		color: var(--bs-dropdown-link-hover-color);
		background-color: var(--bs-dropdown-link-hover-bg)
}

.dropdown-item.active,.dropdown-item:active {
		color: var(--bs-dropdown-link-active-color);
		text-decoration: none;
		background-color: var(--bs-dropdown-link-active-bg)
}

.dropdown-item.disabled,.dropdown-item:disabled {
		color: var(--bs-dropdown-link-disabled-color);
		pointer-events: none;
		background-color: transparent
}

.text-overflow-ellipsis-auto,
.toe-auto {
	text-overflow: ellipsis;
	overflow: auto;
}
.text-overflow-ellipsis-hidden,
.toe-hidden>*,
.toe-hidden {
	text-overflow: ellipsis;
	overflow: hidden;
}
.toe-hidden>* {
	max-width: 100%;
}

.shadow-xs {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12);
	box-shadow: 0 1px 3px rgba(0,0,0,.12);
}

.loading {
	position: relative;
	padding: 6rem;
}
.spinner {
	display: none;
}
.loading .spinner {
	z-index: 2;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	animation: rotate 2s linear infinite;
}
.loading .spinner .path {
	stroke: #009acc;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

@media (min-width: 576px) {
	.box-scale,
	.img-scale {
		transition: all .2s ease-in-out;
	}
	.box-scale:hover,
	.img-scale:hover {
		z-index: 1;
		box-shadow: 0 0 .25rem #888;
	}
	.box-scale:hover {
		transform: scale(1.075);
	}
	.img-scale:hover {
		transform: scale(1.175);
	}

	.navbar-expand-sm {
		flex-wrap:nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-sm .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-sm .navbar-nav .dropdown-menu {
		position: absolute;
	}

	.navbar-expand-sm .navbar-nav .nav-link {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}

	.navbar-expand-sm .navbar-nav-scroll {
		overflow: visible;
	}

	.navbar-expand-sm .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	.navbar-expand-sm .navbar-toggler {
		display: none;
	}

	.navbar-expand-sm .offcanvas {
		position: static;
		z-index: auto;
		flex-grow: 1;
		width: auto !important;
		height: auto !important;
		visibility: visible !important;
		background-color: transparent !important;
		border: 0 !important;
		transform: none !important;
		transition: none;
	}

	.navbar-expand-sm .offcanvas .offcanvas-header {
		display: none;
	}

	.navbar-expand-sm .offcanvas .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible;
	}
}

@media (min-width: 768px) {
	.divider {
		display: initial;
	}
	.navbar-expand-md {
		flex-wrap:nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-md .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-md .navbar-nav .dropdown-menu {
		position: absolute;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}

	.navbar-expand-md .navbar-nav-scroll {
		overflow: visible;
	}

	.navbar-expand-md .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	.navbar-expand-md .navbar-toggler {
		display: none;
	}

	.navbar-expand-md .offcanvas {
		position: static;
		z-index: auto;
		flex-grow: 1;
		width: auto !important;
		height: auto !important;
		visibility: visible !important;
		background-color: transparent !important;
		border: 0 !important;
		transform: none !important;
		transition: none;
	}

	.navbar-expand-md .offcanvas .offcanvas-header {
		display: none;
	}

	.navbar-expand-md .offcanvas .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible;
	}
}

@media(max-width: 992px) {
	.navbar-expand-lg {
		flex-wrap:nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-lg .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}

	.navbar-expand-lg .navbar-nav-scroll {
		overflow: visible;
	}

	.navbar-expand-lg .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	.navbar-expand-lg .navbar-toggler {
		display: none;
	}

	.navbar-expand-lg .offcanvas {
		position: static;
		z-index: auto;
		flex-grow: 1;
		width: auto !important;
		height: auto !important;
		visibility: visible !important;
		background-color: transparent !important;
		border: 0 !important;
		transform: none !important;
		transition: none;
	}

	.navbar-expand-lg .offcanvas .offcanvas-header {
		display: none;
	}

	.navbar-expand-lg .offcanvas .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible;
	}
}

@media (min-width: 1200px) {
	.navbar-expand-xl {
		flex-wrap:nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-xl .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-xl .navbar-nav .dropdown-menu {
		position: absolute;
	}

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}

	.navbar-expand-xl .navbar-nav-scroll {
		overflow: visible;
	}

	.navbar-expand-xl .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	.navbar-expand-xl .navbar-toggler {
		display: none;
	}

	.navbar-expand-xl .offcanvas {
		position: static;
		z-index: auto;
		flex-grow: 1;
		width: auto !important;
		height: auto !important;
		visibility: visible !important;
		background-color: transparent !important;
		border: 0 !important;
		transform: none !important;
		transition: none;
	}

	.navbar-expand-xl .offcanvas .offcanvas-header {
		display: none;
	}

	.navbar-expand-xl .offcanvas .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible;
	}
}

@media (min-width: 1400px) {
	.navbar-expand-xxl {
		flex-wrap:nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-xxl .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-xxl .navbar-nav .dropdown-menu {
		position: absolute;
	}

	.navbar-expand-xxl .navbar-nav .nav-link {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}

	.navbar-expand-xxl .navbar-nav-scroll {
		overflow: visible;
	}

	.navbar-expand-xxl .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	.navbar-expand-xxl .navbar-toggler {
		display: none;
	}

	.navbar-expand-xxl .offcanvas {
		position: static;
		z-index: auto;
		flex-grow: 1;
		width: auto !important;
		height: auto !important;
		visibility: visible !important;
		background-color: transparent !important;
		border: 0 !important;
		transform: none !important;
		transition: none;
	}

	.navbar-expand-xxl .offcanvas .offcanvas-header {
		display: none;
	}

	.navbar-expand-xxl .offcanvas .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible;
	}
}

@media (min-width: 1800px) {
	.container-exl {max-width:1680px}
	.col-exl {flex:1 0 0%}
	.row-cols-exl-auto>*, .row-cols-exl-1>*, .row-cols-exl-2>*, .row-cols-exl-3>*, .row-cols-exl-4>*, .row-cols-exl-5>*, .row-cols-exl-6>*, .col-exl-auto, .col-exl-1, .col-exl-2, .col-exl-3, .col-exl-4, .col-exl-5, .col-exl-6, .col-exl-7, .col-exl-8, .col-exl-9, .col-exl-10, .col-exl-11, .col-exl-12 {flex: 0 0 auto}
	.row-cols-exl-auto>* {width:auto}
	.row-cols-exl-1>* {width:100%}
	.row-cols-exl-2>* {width:50%}
	.row-cols-exl-3>* {width:33.3333333333%}
	.row-cols-exl-4>* {width:25%}
	.row-cols-exl-5>* {width:20%}
	.row-cols-exl-6>* {width:16.6666666667%}
	.col-exl-auto {width:auto}
	.col-exl-1 {width:8.33333333%}
	.col-exl-2 {width:16.66666667%}
	.col-exl-3 {width:25%}
	.col-exl-4 {width:33.33333333%}
	.col-exl-5 {width:41.66666667%}
	.col-exl-6 {width:50%}
	.col-exl-7 {width:58.33333333%}
	.col-exl-8 {width:66.66666667%}
	.col-exl-9 {width:75%}
	.col-exl-10 {width:83.33333333%}
	.col-exl-11 {width:91.66666667%}
	.col-exl-12 {width:100%}
	.navbar-expand-exl {
		flex-wrap:nowrap;
		justify-content: flex-start;
	}

	.navbar-expand-exl .navbar-nav {
		flex-direction: row;
	}

	.navbar-expand-exl .navbar-nav .dropdown-menu {
		position: absolute;
	}

	.navbar-expand-exl .navbar-nav .nav-link {
		padding-right: var(--bs-navbar-nav-link-padding-x);
		padding-left: var(--bs-navbar-nav-link-padding-x);
	}

	.navbar-expand-exl .navbar-nav-scroll {
		overflow: visible;
	}

	.navbar-expand-exl .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	.navbar-expand-exl .navbar-toggler {
		display: none;
	}

	.navbar-expand-exl .offcanvas {
		position: static;
		z-index: auto;
		flex-grow: 1;
		width: auto !important;
		height: auto !important;
		visibility: visible !important;
		background-color: transparent !important;
		border: 0 !important;
		transform: none !important;
		transition: none;
	}

	.navbar-expand-exl .offcanvas .offcanvas-header {
		display: none;
	}

	.navbar-expand-exl .offcanvas .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible;
	}
}

@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

@-webkit-keyframes rotating {
	50% {
		transform: rotate(calc(180deg * var(--direction)));
	}
	100% {
		transform: rotate(calc(360deg * var(--direction)));
	}
}
@keyframes rotating {
	50% {
		transform: rotate(calc(180deg * var(--direction)));
	}
	100% {
		transform: rotate(calc(360deg * var(--direction)));
	}
}

@-webkit-keyframes placeHolderShimmer {
	0%{
		background-position: -468px 0;
	}
	100%{
		background-position: 468px 0;
	}
}
@keyframes placeHolderShimmer {
	0%{
		background-position: -468px 0;
	}
	100%{
		background-position: 468px 0;
	}
}

@-webkit-keyframes titlePlaceHolderShimmer {
	0%{
		background-position: -110vw 0;
	}
	100%{
		background-position: 70vw 0;
	}
}
@keyframes titlePlaceHolderShimmer {
	0%{
		background-position: -110vw 0;
	}
	100%{
		background-position: 70vw 0;
	}
}

@-webkit-keyframes borderCircleLoader {
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes borderCircleLoader {
	0%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
